<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список товаров</title>
</head>
<body>
<h1>Список товаров в репозитории</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>Название</td>
        <td>Стоимость</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pproduct : ${pproducts}">
        <td th:text="${pproduct.id}">1</td>
        <td th:text="${pproduct.title}">Чай</td>
        <td th:text="${pproduct.coast}">234</td>
    </tr>
    </tbody>
</table>
</body>
</html>
